<ion-content>
  <form [formGroup]="loginForm">
    <ion-grid class="ion-align-self-center">
      <ion-row color="primary">
        <ion-col size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login.</h3>
          </div>
          <div padding>
            <ion-item lines="none">
              <ion-input name="email" type="text" placeholder="Email" formControlName="email" required>
              </ion-input>
            </ion-item>
            <ion-item lines="none" lines="none">
              <ion-input name="password" type="password" placeholder="Password" formControlName="password" required>
              </ion-input>
            </ion-item>
            <div *ngIf="loginError" class="errors">
              Email ya da şifrə səhvdir
            </div>
          </div>
          <div padding class="buttons">
            <ion-button size="large" (click)="login()" type="button" [disabled]="!loginForm.valid" expand="block">Login</ion-button>
            <a ion-router-link href="/auth/register">Create Account</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>