<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
    <ion-grid class="ion-align-self-center">
      <ion-row color="primary">
        <ion-col size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Create Account</h3>
          </div>
          <div padding>
            <ion-item lines="none">
              <ion-input name="name" placeholder="Ad soyad" formControlName="name" required>
              </ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-input name="email" placeholder="Email" formControlName="email" required>
              </ion-input>
            </ion-item>
            <ion-item lines="none" lines="none">
              <ion-input name="password" type="password" placeholder="Password" formControlName="password" required>
              </ion-input>
            </ion-item>
          </div>
          <div padding class="buttons">
            <ion-button size="large" type="submit" [disabled]="!registerForm.valid" expand="block">Register</ion-button>
            <a ion-router-link href="/auth/login">Login</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>