form {
    height: 100%;
    display: flex;
    background-color: #212121;
}

ion-item {
    border-radius: 5px;
    margin: 10px;
    border-color: #303030;
    border: 1px solid;
    --ion-background-color: #262626;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ion-button {
    height: 40px;
    --background-color: #3a7124c7;
}

ion-input {
    background: #262626;
    --placeholder-color: white;
    color: white;
}
ion-input::shadow input {
    color: white;
}
h3 {
    text-align: center;
    color: #f2f2f2;
}
