<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="10" class="ion-text-center">
          <ion-title>Reported Image</ion-title>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-buttons end>
            <ion-button icon-only (click)="dismiss()">
              <ion-icon item-right name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="reportForm">
    <ion-grid class="ion-align-self-center">
      <ion-row color="primary">
        <ion-col size-md="6" size-lg="5" size-xs="12">
          <img alt="test" [src]="image">
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>