.map {
    height: 100%;
    width: 100%;
}
ion-header {
    background-color: #262626;
    color: #bdbdbd;
}

.slider {
    position: absolute;
    width: 100%;
}
ion-toolbar {
    --background: #262626;
    --color: #bdbdbd;
}

.controls {
    position: absolute;
    height: 100px;
    bottom: 64px;
    z-index: 99999999;
    display: flex;
    --background: transparent;
    --color: #bdbdbd;
    text-align: center;
}
ion-header {
    background-color: #262626;
    color: #bdbdbd;
}


