<ion-content [fullscreen]="true">
  <div #simulationMap class="map"></div>
  <ion-toolbar text-center class="controls">
    <ion-button (click)="decreaseAngle()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!running" (click)="start()">
      <ion-icon name="play"></ion-icon>
    </ion-button>
    <ion-button *ngIf="running" (click)="stop()">
      <ion-icon name="stop"></ion-icon>
    </ion-button>
    <ion-button (click)="increaseAngle()">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
    <ion-select placeholder="Select Drone" (change)="droneChange($event)">
      <ion-select-option value="1">Drone 1</ion-select-option>
      <ion-select-option value="2">Drone 2</ion-select-option>
      <ion-select-option value="3">Drone 3</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-content>