<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="camera">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Camera</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="admin">
      <ion-icon name="key"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>