<ion-list>
  <ion-item *ngFor="let access of accesses">
    <ion-label>Permission Request
      <br>
      <span style="font-size: 11px;">{{access.latitude}} {{access.longitude}}</span>
      <br>
      <ion-button (click)="setAccess(access,true)" *ngIf="!access.access">Give Access</ion-button>
      <ion-button (click)="setAccess(access,false)" *ngIf="access.access">Block</ion-button>
    </ion-label>
  </ion-item>

</ion-list>