<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="slider">
    <ion-range min="50" value="2000" (ionChange)="changeRadius($event)" max="5000" step="50" pin color="light">
    </ion-range>
  </div>
  <div #mapElement class="map"></div>
</ion-content>