.map {
    height: 100%;
    width: 100%;
}
ion-header {
    background-color: #262626;
    color: #bdbdbd;
}

ion-toolbar {
    --background: #262626;
    --color: #bdbdbd;
}
.slider {
    position: absolute;
    width: 100%;
}
