<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Send Report
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" style="height: 100%;">
    <ion-grid class="ion-align-self-center">
      <ion-row style="height: 60%;">
        <ion-col>
          <img [src]="photo">
        </ion-col>
      </ion-row>
      <ion-row color="primary" style="height: 40%;">
        <ion-col size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item class="input" lines="none" lines="none">
              <ion-textarea name="message" placeholder="Message" formControlName="message" required>
              </ion-textarea>
            </ion-item>
          </div>
          <div padding class="buttons">
            <ion-button size="small" type="button" (click)="send()" [disabled]="!form.valid" expand="block">Send
            </ion-button>
            <ion-button size="small" type="button" (click)="addNewToGallery()" expand="block">
              <ion-icon name="camera"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

</ion-content>