<ion-list>
  <ion-item *ngFor="let report of reports">
    <ion-label>{{report.message}}
      <br>
      <span style="font-size: 11px;">{{report.latitude}} {{report.longitude}}</span>
      <br>
      <ion-button *ngIf="report.img_path" (click)="showImage(report)">Show Photo</ion-button>
    </ion-label>

  </ion-item>
</ion-list>