<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="10" class="ion-text-center">
          <ion-title>Drone Registration</ion-title>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-buttons end>
            <ion-button icon-only (click)="dismiss()">
              <ion-icon item-right name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="reportForm">
    <ion-grid class="ion-align-self-center">
      <ion-row color="primary">
        <ion-col size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item class="input" lines="none" lines="none">
              <ion-input name="imei" placeholder="IMEI" formControlName="imei" required>
              </ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-item class="input" lines="none" lines="none">
              <ion-input name="owner" placeholder="Owner" formControlName="owner" required>
              </ion-input>
            </ion-item>
          </div>
         
          <div padding class="buttons">
            <ion-button size="small" type="button" (click)="send()" [disabled]="!reportForm.valid" expand="block">Send
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>