ion-header {
    background-color: #262626;
    color: #bdbdbd;
}

ion-toolbar,
ion-item,
ion-list,
ion-menu,
ion-content {
    background: #262626;
    --background: #262626;
    --color: #bdbdbd;
}
