
<ion-list>
  <ion-button (click)="register()">Register Drone</ion-button>
  <ion-item *ngFor="let drone of drones">
    <ion-label>{{drone.serial_number}} ({{drone.owner_name}})
      <br>
      <span style="font-size: 11px;">{{drone.serial}} {{drone.issue}}</span>
      <br>
    </ion-label>

  </ion-item>
</ion-list>