ion-header {
    display: flex;
    align-items: center;
    background-color: #262626;
    color: #bdbdbd;
}

ion-toolbar,
ion-content,
ion-item {
    --background: #262626;
    --color: #bdbdbd;
}
ion-navbar {
    padding-top: 20px;
    width: 100%;
    display: flex;
    height: 70px;
}
ion-textarea {
    background: #262626;
    --placeholder-color: white;
    color: white;
}
ion-textarea::shadow input {
    color: white;
}
.input {
    border-color: #303030;
    border: 1px solid;
}
